<%- include ("partials/header") -%>


<div id="aboutDiv">
  <img class="image" src="../photo1.jpg" alt="">
  <div class="container-fluid " id="content">
    <h2>Blog Site</h2>
    <p> We aim to create a readership audience that aims to easily blog about a topic and read blog posts.</p>
  </div>
</div>





<%- include ("partials/footer") -%>